.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
	background-color: #1a3715;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: 70px;
  color: #ffffff;
}

#appNameContainer {
  display: flex;
  align-items: center;
}

.topbar img {
  margin-left: 50px;
}

#appName {
  margin-left: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

#userInfo {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

#userName {
  margin-left: 5px;
  font-weight: bold;
}

#profilePic {
  width: 3rem;
	height: 3rem;
	border-radius: 50%;
  margin-left: 15px;
}